# Build outputs
*.apk
*.dex
out/
context/

#for nvim lsp
.classpath
.project

# Signing / security
*.keystore
*.idsig

# OS files
.DS_Store
Thumbs.db

# IDE files (optional but recommended)
*.iml
.idea/
.vscode/
